<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Edit Book</h1>
	<p>Name:
	<form action="{{url_for('editBook', book_id = book_id)}}" method = 'POST'>
		<input type="text" size = "30" name="editedName">
		<input type="submit" name="Edit" value = "Edit">
		<a href="{{url_for('showBook')}}"> Cancel </a>
	</p>
</body>
</html>