<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>New Book</h1>
	<p>Name:
	<form action="{{url_for('newBook')}}" method = 'POST'>
		<input type="text" size = "30" name="newBookName">
		<input type="submit" name="Create" value = "Create">
	</p>
</body>
</html>